%h1 Listing posts

= link_to "New Post", new_post_path

%table
  %tr
    %th Title
    %th Text
    %th

  - @posts.each do |post|
    %tr
      %td= post.short_name
      %td= post.text
      %td= link_to 'Show', post_path(post)
      %td= link_to 'Edit', edit_post_path(post)
      %td= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: "Are you sure?" }

= link_to "Back", posts_path
