<!DOCTYPE html>
%html
  %head
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8" }
    %meta{ :name => "robots", :content => "index,follow" }
    %meta{ :name => "keywords", :content => "paris,パリ,アパート,大変,難しい,エージェント,不動産,家賃" }
    %meta{ :name => "description", :content => "パリで諸問題発生中" }
    %meta{ :name => "copyright", :content => "Copyright &copy; 2013-" }
    %title #parisproblems: パリのアパート
    = favicon_link_tag
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    #pagewrap
      %header#site-head
        = image_tag "us.jpg", alt: "problemer", height: 250, width: 145, align: 'right'
        %h1
          %a{ :href => '/' }
            = image_tag "title.jpg", alt: '#parisproblems', width: 350, height: 79

      %nav.mainmenu
        %ul.mainmenu
          - @menu_items.each do |item|
            %li
              = link_to item.short_name, post_path(item), { class: "menu" }

    = yield

    %footer.bottom
      %p
        &copy; 2013 #parisproblems. All rights reserved.　 質問は
        %a{ :href => "http://toumeido.com/cgi/page.cgi?_id=3260 " }透明度サイト
        からどうぞ
